<html>
    <body>
        <h1>
            Welcome to <%=title%>
        </h1>

        <ul>
            <% data.map((i) => {
              %><li><%=%></li><% 
            })

        </ul>
    </body>
</html>